#wrapper {
	background-color:  #2ECC71;
	height: 750px;
}

#inputForm{
	position: relative;
	background-color: white;
	padding: 5px;
	margin: auto;
	max-width: 550px;
	margin-top: 60px;

}

.input{
	color: #2980B9; 
}


#submitButton{
	border: none;
	background-color:  #2980B9;
	padding: 5px;
}


footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}



